In [ ]:
print('hello')

In [ ]:
print ('new')

this is a comment. we do that by changing from code to markdown

In [ ]:
2 * 2

In [ ]:
4/2

In [ ]:
21 % 3

In [ ]:
31 % 3

In [ ]:
a = 5
a

In [ ]:
a = 10

In [ ]:
a

In [ ]:
a = a / 3

In [ ]:
a

In [ ]:
a + a

In [ ]:
a = 10

In [ ]:
a = a + a

In [ ]:
a

In [ ]:
type(a)

In [ ]:
type(b=3.1)

In [ ]:
b = 3.1
type(b)

In [ ]:
int = 4

In [ ]:
int

In [ ]:
inc = 100
tax_rate = 0.1
tax_pay = inc * tax_rate

In [ ]:
tax_pay

In [ ]:
s1 = 'hello'
s2 = "hello"
s3 = 'world'
s4 = "world"

In [ ]:
s5 = "this is also a string"

In [ ]:
s6 = s1 +" " + s3
s6

In [ ]:
print(len(s1))
print(len(s6))

In [ ]:
myName = "omri ziner"

In [ ]:
print(myName[1])
print(myName[-9])

In [ ]:
myString = "Hello World"

In [ ]:
myString

In [ ]:
myString[2:]

In [ ]:
myString[:3]

In [ ]:
myString[5:5]

In [ ]:
myString[5:10]

In [ ]:
myString[6:11]

In [ ]:
name = "omri"

In [ ]:
name[0] = 'a'

In [ ]:
#cla

In [ ]:
"pam"

In [ ]:
last_letters = name[1:]

In [ ]:
last_letters

In [ ]:
last_letters=name

In [ ]:
last_letters

In [ ]:
last_letters=name[2:2:1]

In [ ]:
last_letters

In [ ]:
x = "hello"

In [ ]:
y = "world"

In [ ]:
x+y

In [ ]:
x = x + " " + y

In [ ]:
x

In [ ]:
'2' + '3'

In [ ]:
x = "hello world"

In [ ]:
x = "hello beatch"
#x.upper()
#x.lower()
x.split('e')

In [ ]:
print(x)

In [ ]:
s = 'hello'

In [ ]:
s[1]

In [ ]:
s = "hello"

In [ ]:
s[1]

In [ ]:
name = "ziners"

In [ ]:
print("hello " + name)

In [ ]:
print('this is a string {}'.format('INS'))

In [ ]:
print("The {} is {} and P{}".format("FOX","KOKS","MOKS"))

In [ ]:
name#lists

my_list = [1,2,3]
my_list = ["omri",2,3,4]
len(my_list)

my_list = ["one","two","three"]
my_list[0]
my_list[1]
my_list[1:] # from 1 to the end
another_list = ["four","five"]

another_list = my_list + another_list
another_list

#change elements in the list
my_list[0] = "sada"
# add values to the end of the list

my_list.appeand("asd")


 = "omri"
age = 28
print(f'{name} is {age} years old')

In [ ]:
myList = [1,2,3,4,5,"omri"]

In [ ]:
myList

In [ ]:
myList.append("ziner")

In [ ]:
myList

In [ ]:
newList = myList[4:]

In [ ]:
newList

In [ ]:
newList[1] = "blalalala"

In [ ]:
newList

In [ ]:
list = ['a','b','c','d','x','g']
list2 = [7,4,2,7,1,7,4]

In [ ]:
list1 = ['a','b','c','d','x','g']
list2 = [7,4,2,7,1,7,4]

In [2]:
list1

['a', 'b', 'c', 'd', 'x', 'g']

In [3]:
list2

[7, 4, 2, 7, 1, 7, 4]

In [4]:
list1.sort()

In [5]:
list1

['a', 'b', 'c', 'd', 'g', 'x']

In [6]:
list2.sort()

In [7]:
list2

[1, 2, 4, 4, 7, 7, 7]

In [8]:
dict = {"key1":"val1","key2":3}

In [9]:
dict

{'key1': 'val1', 'key2': 3}

In [12]:
dict['key1']

'val1'

In [13]:
prices = {"apple":2.21,"orange":1.99,"chocolate":5}

In [14]:
prices

{'apple': 2.21, 'chocolate': 5, 'orange': 1.99}

In [17]:
prices['apple']

2.21

In [18]:
d = {'key1':['a','b','c']}

In [19]:
d

{'key1': ['a', 'b', 'c']}

In [22]:
d['key1'][2].upper()

'C'

In [23]:
letter = d['key1'][1].upper()
letter

'B'

In [24]:
d['k2'] = 123
d

{'k2': 123, 'key1': ['a', 'b', 'c']}

In [25]:
d.keys()

dict_keys(['key1', 'k2'])

In [26]:
d.items()
d.values()

dict_values([['a', 'b', 'c'], 123])

In [28]:
d.items()

dict_items([('key1', ['a', 'b', 'c']), ('k2', 123)])

In [29]:
d

{'k2': 123, 'key1': ['a', 'b', 'c']}

In [31]:
t = (1,2,3)
l = [1,2,3]
type(t)
#type(l)

tuple

In [32]:
len(t)

3

In [33]:
len(l)

3

In [34]:
t = (5,1,1)

In [35]:
t

(5, 1, 1)

In [37]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [38]:
ms = set()

In [39]:
type(ms)

set

In [40]:
ms.addd(1)

AttributeError: 'set' object has no attribute 'addd'

In [41]:
ms

set()

In [42]:
ms = set(1,2)

TypeError: set expected at most 1 arguments, got 2

In [44]:
ms2 = set(1)

TypeError: 'int' object is not iterable

In [45]:
myset = set()

In [46]:
myset.add(9)

In [47]:
myset

{9}

In [49]:
myset.add(4)

In [50]:
myset

{4, 9}

In [51]:
myset.add(9)

In [52]:
myset

{4, 9}

In [59]:
l1 = [1,2,3,4,5,4,3,2,1,0]
myset = set(l1)

In [60]:
myset

{0, 1, 2, 3, 4, 5}

In [72]:
mss = set("omriz")
mss.add("ziner")
mss.add("omer")
mss.add("ziner benzeev")
mss

{'i', 'm', 'o', 'omer', 'r', 'z', 'ziner', 'ziner benzeev'}

In [74]:
mys = set("text")
mys

{'e', 't', 'x'}

In [79]:
myset = set('text')

In [76]:
myset

{'e', 't', 'x'}

In [78]:
myset.add("xyz")
myset.add("bmw")
myset

{'bmw', 'e', 't', 'x', 'xyz'}

In [80]:
type(True)

bool

In [81]:
type(False)

bool

In [82]:
1>2

False

In [83]:
type(1==1)

bool

In [84]:
b = None

In [85]:
type(b)

NoneType

In [86]:
set([1,2,3,3])

{1, 2, 3}

In [87]:
l2 = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,4,4,4,4]
l2

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4]

In [88]:
l2 = set(l2)

In [89]:
l2

{1, 2, 3, 4}

In [93]:
%%writefile myfile.txt
hellow this is a text file 
this is a second line
this is a third line
%%

Writing myfile.txt

In [95]:
myfile = open("myfile.txt")

In [96]:
pwd

'C:\\Users\\omriz\\Documents\\Python\\Code'

In [97]:
pwd(myfile.txt)

'C:\\Users\\omriz\\Documents\\Python\\Code'

In [99]:
pwd(mystacl)

'C:\\Users\\omriz\\Documents\\Python\\Code'

In [100]:
pwd

'C:\\Users\\omriz\\Documents\\Python\\Code'

In [101]:
myfile.read()

'hellow this is a text file \nthis is a second line\nthis is a third line\n%%'

In [103]:
myfile.read()

''

In [104]:
myfile.seek(0)

0

In [106]:
myfile.seek(10)

10

In [107]:
myfile.read()

's is a text file \nthis is a second line\nthis is a third line\n%%'

In [109]:
myfile.seek(0)
type(myfile.readlines())

list

In [110]:
myfile.readlines()

[]

In [114]:
with open("myfile.txt",mode='r') as myFile:
    content = myFile.read()
content

'hellow this is a text file \nthis is a second line\nthis is a third line\n%%'

In [115]:
st = 'omri'
st

'omri'

In [116]:
st[0] = a

NameError: name 'a' is not defined

In [123]:
l6 = [0,1,2,3,4,5,6,7]
lSum = 0
for myIndex in l6:
    lSum += myIndex
    if(myIndex % 2 == 0): 
        print (myIndex)
    else:
        print("Not Even")
print("list sum is {}".format(lSum))

0
Not Even
2
Not Even
4
Not Even
6
Not Even
list sum is 28

In [126]:
str3 = "omriziner"
for myStr in str3:
    #print("{}".format(myStr))
    print(myStr)

o
m
r
i
z
i
n
e
r

In [127]:
tup = (1,2,3)
for t in tup:
    print(t)

1
2
3

In [129]:
mylist = [(1,2),(3,4),(5,6)]
len(mylist)

3

In [131]:
for (a,b) in mylist: 
    print(a)
    print(b)

1
2
3
4
5
6

In [137]:
dict = {"k1":1,"k2":2,"k3":3}
for key,value in dict:
    print (key)
    print(value)

k
1
k
2
k
3

In [138]:
type(range(10))

range

In [139]:
l1 = list(range(10))
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
l1 = [1,2,3]
l2 = ['a','b','c']def myfunc(st):
    sCount = 0
    l1 = []
    for letters in st:
        if sCount % 2 == 0 :
           l1.append(st[sCount].lower())
           
        elif sCount % 2 != 0 :
            l1.append(st[sCount].upper())
        sCount += 1
    return (st)
    


#for a,b in zip(l1,l2):
for item in zip(l1,l2):
    print (item)

(1, 'a')
(2, 'b')
(3, 'c')

zip

In [142]:
item

In [143]:
print(item)

<zip object at 0x0000023356775EC8>

In [151]:
def myfunc(st):
    sCount = 0
    l1 = []
    for letters in st:
        if sCount % 2 == 0 :
           st[sCount] = (st[sCount].lower())
           
        elif sCount % 2 != 0 :
            st[sCount] = (st[sCount].upper())
        sCount += 1
    return (st)
myfunc('omri')

TypeError: 'str' object does not support item assignment

In [152]:
st = " first to flight"

In [153]:
st

' first to flight'

In [173]:
l1 = []

In [196]:
l1.append("omri ziner")
l2 = []
st = "omri is ziner"
word = ''
for items in st:
    if(items != ' '):
        word = word + items
    elif(items == ' '):
       l2.append(word)
       word = ''
l2.append(word)
print(l2)       
l2.reverse()
print(l2)

['omri', 'is', 'ziner']
['ziner', 'is', 'omri']

## l1

In [199]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

In [228]:
blabla = lambda suka : suka*suka

In [229]:
 blabla(6)

36

In [217]:
sqr(1)

1

In [218]:
sqr(25)

625

In [232]:
l1 = list(map(lambda num : num**2,[2,4,6,7,8,9]))
l1

[4, 16, 36, 49, 64, 81]

In [242]:
nums = [1,2,3,4,5,6,8]
l1 = list(filter(lambda num : num%2 == 0,nums))
print(l1)

[2, 4, 6, 8]

In [243]:
names = ["omriz","omer"]
lst = list(map(lambda name:name[0],names))

In [244]:
lst

['o', 'o']

In [1]:
from IPython.display import clear_output

def display_board(board):
	print(" {} |".format(board[0]))
    print(" {} |".format(board[1]))
    print(" {} |".format(board[2]))
    print("________")
    print(" {} |".format(board[3]))
    print(" {} |".format(board[4]))
    print(" {} |".format(board[5]))
	print("________")
    print(" {} |".format(board[6]))
    print(" {} |".format(board[7]))	
    print(" {} |".format(board[8]))

board = ["","","","","","","","",""]
display_board(board)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)